version: '3.8'

services:
  web:
    build:
      context: ../../
      dockerfile: Server Backend/Deployment/Dockerfile
    command: python -m gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
      - ../db.sqlite3:/home/app/web/db.sqlite3
    expose:
      - 8000
    env_file:
      - .env.prod
    environment:
      - MONGO_HOST=db
    depends_on:
      - db
    restart: always

  db:
    image: mongo:4.4
    volumes:
      - mongo_data:/data/db
    restart: always

  nginx:
    build:
      context: ../nginx
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    ports:
      - 80:80
    depends_on:
      - web
    restart: always

volumes:
  mongo_data:
  static_volume:
  media_volume:
